version: "3.4"

volumes:
  dev_{{ cookiecutter.project_app }}_data: {}

services:
  db:
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: {{ cookiecutter.project_app }}
      DATABASE_URL: postgres://postgres@127.0.01:{{ cookiecutter.postgres_port }}/{{ cookiecutter.project_app }}
    image: postgres:{{ cookiecutter.postgres_version }}-alpine
    ports:
      - "{{ cookiecutter.postgres_port }}:5432"
    volumes:
      - dev_{{ cookiecutter.project_app }}_data:/var/lib/postgresql/data
