.git
.env
.envrc
.direnv
.circleci
*.db
*.dump
*.pgdump
*.sql
*.orig
npm-debug.log
.postgres
.python-version
.pytest_cache
webpack-stats.json
deploy/
dashboard/static/bundles/main.js
dashboard/settings/local.py
**/*.DS_Store
**/__pycache__
**/*.pyc
**/node_modules
**/media