/*****************************
            COLORS
*****************************/

$white: #fff;
$black: #000;
$blue: #117F89;
$dark-blue: #003236;
$green: #99BD66;
$grey: #697978;
$dark-grey: #3C3C3C;
$blue-grey: #718C84;
$lt-grey: #E4EDEB;
$caktus-dark: #262929;