{% raw %}
{% extends "bases/content_well_base.html" %}

{% load wagtailcore_tags sass_tags %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% sass_src 'styles/pages/404.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block well_content %}
    <header class="four-o-four__heading">
        <h1>Page not found</h1>
    </header>
    <h2 class="four-o-four__message">Sorry, this page could not be found.</h2>
    <p class="four-o-four__text">We apologize for the inconvenience.</p>
    <p class="four-o-four__text">The page you are looking for is no longer available or has been moved.</p>
    <p class="four-o-four__text">There are several ways you can find the information you need:</p>
    <ul class="four-o-four__list">
        <li class="four-o-four__text">Revisit the Previous Page</li>
        <li class="four-o-four__text">Check the Web address you entered to make sure it's correct.</li>
        <li class="four-o-four__text">Try to access the page directly from the Home page, instead of using a bookmark. If the page has moved, reset your bookmark.</li>
        <li class="four-o-four__text">Click a link on the top navigation bar to visit another area of our website.</li>
    </ul>
{% endblock well_content %}
{% endraw %}
